<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary btn-block" onclick="entrar()">Entrar no Sistema</button>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-success btn-block" onclick="registrar()"> Registrar uma Conta</button>
    </div>
</div>

<script>
    function entrar()
    {
        window.location.href = "../Usuario/Logar";
    }

    function registrar()
    {
        window.location.href = "../Usuario/NovoUsuario";
    }
</script>